  <div class="contact">
    <div class="number animated fadeInUp">
    <h3>
      JETZT TERMIN VEREINBAREN?
    </h3>
    <h3>
      +49 (0) 172 312 34 89
    </h3>
    </div>
    <div class="contact-infos animated fadeInUp">
      <%= link_to 'Kontakt', "kontakt.html" %>
    </div>
  </div>
