  <div class="footer">
    <div class="container">

      <div class="row">
        <div class="footer-info col-xs-12 col-md-8">
          <h3>Residenz Adler</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, iusto sit. Quod reprehenderit in aperiam necessitatibus, sint architecto doloribus! Deleniti quaerat nisi, dolorum dolorem! Quis magni recusandae dolores illum vel!
          </p>
        </div>
        <div class="footer-links col-xs-12 col-md-4">
          <p>

          <%= link_to "Kontakt >", 'kontakt.html' %>
          </p>
          <p>

          <%= link_to "Impressum / Datenschutz >", 'impressum.html' %>
          </p>
        </div>

      </div>
    </div>
  </div>
