  <div class="footer">
    <div class="footer-row">
      <div class="footer-info">
        <h3>Residenz Adler</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, iusto sit. Quod reprehenderit in aperiam necessitatibus, sint architecto doloribus! Deleniti quaerat nisi, dolorum dolorem! Quis magni recusandae dolores illum vel!
        </p>
      </div>
      <div class="footer-links">
        <%= link_to "Kontakt >", 'kontakt.html' %>
        <%= link_to "Impressum / Datenschutz >", 'impressum.html' %>
      </div>

    </div>
  </div>
