    .contact {
      padding: 56px;
      background-color: $main;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: -2;
      .number {
        padding-right: 40px;
        color: white;
        h3 {
          font-size: 2rem;
          margin: 0;

        }
      }
      .contact-infos a {
        font-size: 2rem;
        color: white;
        border: 2px solid rgba(255,255,255,0.8);
        border-radius: 50px;
        font-size: 18px;
        padding: 16px 32px;
      }
    }




    .footer {
      max-width: 1256px;
      margin: 0 auto;
      color: #939598;
      padding: 80px 40px;
      background: $black;

      h3 {
        margin: 0;
        margin-bottom: 16px;
      }

      p {
        font-size: 14px;
        line-height: 25px;
        margin: 0;
      }

      .footer-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      }

      .footer-info {
      flex: 1 0 67%;
      padding-right: 35px;
      }

    }
    .footer-links {
      flex: 0 1 33%;
      display: flex;
      flex-direction: column;
    }
    .footer-links a {
      text-decoration: none;
      color: #939598;
      font-size: 14px;
      line-height: 25px;
      padding: 0px 10px;
    }
    .footer-links a:hover {
      font-weight: bold;
    }
    .footer .fa-heart {
      color: #D23333;
    }
