.nomargin {
  margin: 0;
}

.nopadding {
  padding: 0;
}
.background-white {
  background-color: white;
}

.intro {
  padding: 2em;
  display: grid;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  .intro-left {
    img {
      width: 100%;
    }
  }
}

.apart-options {
  padding-bottom: 24px;
  display: grid;
  grid-gap: 2rem;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

}

  .highlight-container {

    width: 100%;
    padding: 32px 1em;
    background-color: $main;
    padding-bottom: 24px;

    h2 {
      text-align: center;
      margin: 0;
      color: $white;
      margin: 64px auto;
    }

    .highlight-cards {

      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }
      @media (min-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr;
      }

    }

  }


li {
  font-size: 14px;

}

