#home {
    font-size: 14px;

  .banner {
    height: calc(100vh - 70px);

    color: white;
    p {
      margin-top: 1.5em;
    }
    a {
      color: rgba(0,0,0,0.4);
      font-weight: bold;
      font-size: 16px;
    }

    h1 {
      font-size: 100px;
      font-family: "Parisienne"
    }
  }

  .intro {
    padding: 40px 0px;
    display: flex;
    color: black;
  }

  .highlights {
    padding-top: 24px;
    padding-bottom: 24px;
    .highlight {
    display:flex;

      .icon {
        width: 60px;
        padding: 8px;
      }

      h3 {
        margin-top: 0;
      }
    }

  }

  .overall-pers {
    width: 100%;

    .pers {
      height: 400px;
      width: 100%;
      background-size: cover !important;
    }
    h2 {
      padding: 40px;
    }
  }

  .apart-options {
    padding-bottom: 24px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 992px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

  }


}
