#home {
  color: white;

  .banner {

    p {
      margin-top: 1.5em;
    }
    a {
      color: rgba(0,0,0,0.4);
      font-weight: bold;
      font-size: 16px;
    }

    h1 {
      font-size: 100px;
      font-family: "Parisienne"
    }
  }

  .intro {
    padding: 100px 0 90px 0;
    display: flex;
    color: black;
    p {
      font-size: 13px;
    }
  }
}
