#home {
  font-size: $font-size-base;

  .banner {
    height: calc(100vh - 150px);

    color: white;
    p {
      margin-top: 1.5em;
    }
    a {
      color: rgba(0,0,0,0.4);
      font-weight: bold;
      font-size: 16px;
    }

    h1 {
      font-size: 100px;
      font-family: "Parisienne"
    }
  }

  .intro {
    color: black;
  }

  .highlights {
    padding-top: 24px;
    padding-bottom: 24px;
    .highlight {
      display:flex;

      .icon {
        width: 60px;
        padding: 8px;
      }

      h3 {
        margin-top: 0;
      }
    }

  }

  .overall-pers {
    width: 100%;

    .pers {
      height: 400px;
      width: 100%;
      background-size: cover !important;
    }
    h2 {
      padding: 40px;
    }
  }

  .video {
    width: 100vw;
  }

  .expanding-map-container {
    height: 100px;
    overflow: hidden;

    // .expanding-map img {
    //   height: 100px;
    // }
  }


}

