#konzept {

  .banner {
    width: 100%;
    height: 600px;
  }


  .concept {
    width: 100%;
    background-color: #e7e7e7;
    margin: 0;
    padding: 1em 1em;
    h2 {
      margin: 0;
    }
  }

  .concept-content {
    img {
      width: 100%;
      height: 200px;
    }
  }


  #idee {
    width: 100%;
    height: 500px;
    background-color: #bbb;
    img {
      width: 100%;
      height: 400px;
    }
  }

  #areal {
    width: 100%;
    height: 400px;
    background-color: #ccc
  }
  #architektur {
    width: 100%;
    height: 400px;
    background-color: #ddd
  }
}
