---
title: Residenz Adler
---
<div id="home">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/projekt-blick.png');">
      <div class="banner-content">
        <h1>Residenz Adler</h1>
        <p>Leben am See</p>
      </div>
    </div>

  <div class="home-content">
    <div class="intro">
      <div>

      <h2>DIE NEUE GRÜNE WOHNOASE IM HERZEN DER STADT</h1>
      </div>
      <div class="welcome-text">
        <h3>Willkommen in der Residenz Adler</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae molestias accusantium eum facere officia deserunt vero ipsum pariatur neque laboriosam ab reiciendis placeat fugiat expedita aspernatur cum, corporis non eos praesentium nobis blanditiis esse, maxime dicta in modi. Labore, dolorum!</p>
      </div>
    </div>
    <div class="image">

    </div>

  </div>
</div>
